.dashboard {
    background-color: white;
    display: flex;
    margin: 5%;
    height: 80vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.dashboard_sidebar {
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    width: 350px;
    overflow-y: scroll;

    .actions {
        display: flex;
    }

    .boards {
        margin-top: 2vh;
        display: flex;
        flex-direction: column;

        .board__item {
            cursor: pointer;
            margin: 2px;
            margin-top: 5px;
            border-radius: 3px;
            border: 1px solid var(--color-blue);
            color: var(--color-blue);
            font-weight: bold;
            padding: 5px;
            user-select: none;
            transition-duration: 0.3s;
            display: flex;
            align-items: center;

            &:hover {
                border: 1px solid var(--color-blue--secondary);
                color: var(--color-blue--secondary);
            }

            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 10pt;
            }
        }

        .item--selected {
            border: 1px solid var(--color-blue--secondary);
            color: var(--color-blue--secondary);
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.dashboard_content {
    padding: 1%;
    overflow-x: hidden;
    width: 100vw;

    .content__navbar {
        border-bottom: 1px solid var(--color-blue--secondary);
        padding: 5px;

        span {
            font-weight: bolder;
            color: var(--color-blue);
        }

        span.unselected {
            color: var(--color-gray);
        }
    }

    .content--unselected {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            color: var(--color-gray);
            font-weight: lighter;
            border-left: 6px solid var(--color-blue);
            padding-left: 15px;
        }
    }
}
