.button {
    background-color: var(--color-green);
    border: none;
    padding: 8px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;

    transition-duration: 0.5s;

    &:hover {
        background-color: var(--color-green--secondary);
    }
}

.btn-primary {
    background-color: var(--color-blue);

    &:hover {
        background-color: var(--color-blue--secondary);
    }
}
