.home {
    height: 70dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__content {
    display: flex;
    justify-content: center;
    padding: 4%;

    @media screen and (max-width: 748px) {
        flex-direction: column;
        align-items: center;
    }
}

.home__info {
    width: 30vw;

    h2 {
        font-weight: bolder;
        color: #321;
    }

    @media screen and (max-width: 748px) {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;

        h2 {
            font-size: 12pt;
        }
    }
}

.home__logo {
    height: 150px;
    pointer-events: none;

    @media screen and (max-width: 748px) {
        height: 100px;
    }
}

.home__form {
    .links {
        margin-top: 1em;

        p {
            font-size: 11pt;

            a {
                color: var(--color-blue);
            }

            @media screen and (max-width: 748px) {
                max-width: 70vw;
            }
        }
    }
}
