.textarea {
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 100%;
    min-height: 20vh;
    font-family: "Nunito";
    font-size: 12pt;

    &:focus-within {
        border: 1px solid var(--color-green);
    }
}
